

<section class="statistics-area">

  <h1>Statistics: </h1>
  <br>
  <br>
  <h2>Average age: <%= @average_age.to_i %></h2>
  <br>
  <h2>Total Number of Papers in database: <%= @total_papers.to_i %></h2>
  <br>
  <h2>Average Number of Pages for Papers in database: <%= @average_pages.to_i %></h2>
  <br>
  <br>
  <section class="hometowns">Hometowns:
    <% @hometowns.each do |town|%>
    <%= town %>
    <% end %>
    <br>
  </section>
  <br>
  <br>
</section>
<section class="sort_field">
  <%= form_tag economists_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :sort, params[:sort] %>
      <%= submit_tag "Sort", :name => nil %>
    </p>
  <% end %>
</section>

<section class='economist-ctn'>
  <% @economists.each do |economist| %>
  <section class='economist-card'>
    <div id="economist-<%= economist.id %>">
      <br>
      <img src="<%= economist.img_url %>" alt="economist photo"></img>
      <h2>Name: <%= link_to economist.name, economist_path(economist) %></h2>
      <br>
      <br>
      <% if economist.age == 0 %>
      <p>Age: <%= "deceased" %></p>
      <% else %>
      <p>Age: <%= economist.age %></p>
      <% end %>
      <p>Hometown: <%= economist.city %></p>
      <p>Number of Papers: <%= economist.paper_count %></p>
      <h2>Economist's Papers</h2>
      <br>
      <% if economist.papers.count == 0 %>
        <br>
        <p>This economist has no papers in the database</p>
      <% else %>
        <% economist.papers.each do |paper| %>
        <div id="economist-papers-<%= paper.id %>">
          <br>
          <p>Name: <%= paper.name %></p>
          <p>Pages: <%= paper.pages %></p>
          <br>
      <% end %>
          <br>
        </div>
      <% end %>
      <br>
      <br>
    </div>
  </section>
  <% end %>
</section>
