
<section="new-economist-form">
  <%= form_for(@economist) do |f| %>
  <ul>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
    <br>
    <br>
    <li><%= f.label :age %></li>
    <li><%= f.number_field :age %></li>
    <br>
    <br>
    <li><%= f.label :city %></li>
    <li><%= f.text_field :city %></li>
    <br>
    <br>
    <li><%= f.label :image_url %></li>
    <li><%= f.text_field :img_url%></li>
    <br>
    <br>
    <li><%= f.submit :Create%></li>
  </ul>
  <% end %>
</section>
