<!DOCTYPE html>
<html>
  <head>
    <title>Economists For You</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chonburi" rel="stylesheet">
  </head>

  <body>
    <div class="title">Just an Economist Page</div>
    <header>
      <ul class="top-nav">
        <%= link_to 'Economists', economists_path %>
        <%= link_to 'New Economist', new_economist_path %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
